<div class="row">
  <div class="col-sm-12">Page {{pagination.page}} of {{pagination.pages}}</div>
  <button class="col-sm button" [isLoading]="isLoading" [appPagination]="pagination" type="<<" (goToPage)="goToPage.emit($event)"><<</button>
  <button class="col-sm button" [isLoading]="isLoading" [appPagination]="pagination" type="<" (goToPage)="goToPage.emit($event)"><</button>
  <button class="col-sm button" [isLoading]="isLoading" [appPagination]="pagination" type=">" (goToPage)="goToPage.emit($event)">></button>
  <button class="col-sm button" [isLoading]="isLoading" [appPagination]="pagination" type=">>" (goToPage)="goToPage.emit($event)">>></button>
</div>
