:host .detail {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 25px;
  padding: 10px;
  color: var(--fore-color);
}

:host .episodes-seasons {
  padding: 10px;
  color: var(--fore-color);
}

h1 {
  color: var(--fore-color);
}

img {
  width: 40%;
}

dialog img {
  max-width: 80vh;
}

img[main] {
  width: 100%;
}

dialog {
  /* width: 50vw; */
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}