<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Year started</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <ng-container  *ngIf="tvShowsResult">
      <tr #list *ngFor="let tvshow of tvShowsResult.tv_shows">
        <td data-label="Name">{{tvshow.name}}</td>
        <td data-label="Country">{{tvshow.country}}</td>
        <td data-label="Year started">{{tvshow.start_date | date: 'yyyy'}}</td>
        <td data-label="Status">{{tvshow.status}}</td>
        <td data-label="Actions">
          <span class="icon-info" [routerLink]="['./details', tvshow.id]"></span>
          <span class="icon-bookmark" [appFavoriteToggle]="tvshow.id"></span>
          <span class="icon-link"></span>
        </td>
      </tr>
    </ng-container>
    <tr #list class="loading" *ngIf="isLoading">
      <td rowspan="5">
       <div class="spinner primary"></div>
      </td>
    </tr>
  </tbody>
</table>
